.buttonImage{
    width: 450px ;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buttonImage button{
    cursor: pointer;
}

.buttonDemo{
    border-radius: 10px;
    outline: 2px solid #fff; 
}

.part{
    height: 2rem;
    background-color: #fff;
    padding: 0.5rem 1rem;
}

.top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}