.buttonStyleBar{
    background-color: rgb(3, 11, 37);
    width: 320px;
    height: 100vh;
    padding: 3rem 1rem;  
}

.btnStyleBarContaner{
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}

.btnStyleBarContaner::-webkit-scrollbar {
    display: none;
  }
  

.buttonStyleBar .buttonOptions{
    display: flex;
    justify-content: space-between;
}

.buttonOptions p{
    font-size: 1.3rem;
    background-color: aliceblue;
    padding: .3rem .2rem;
    cursor: pointer;
    border-radius: .3rem;
    width: 100%;
    text-align: center;
}

.hoverOptionsHeader{
    padding: 3rem 0rem;
}