.buttonStyle{
    margin-top: 5rem;
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.buttonStyle::-webkit-scrollbar {
  display: none;
}

.buttonStyle .btnStyleElements li{
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: .3rem .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    cursor: pointer;
    overflow: hidden;
    max-height: 2rem;
    flex-direction: column;
}

.text{
    width: calc(300px - 3rem);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.btnBgColorSetting .text{
    display: flex;
    justify-content: space-between;
}

.btnSetting{
    padding: 1rem 0rem;
}

.btnStyleElements i{
    transition: .2s;
}

/* drop-down items */

#btnBg:checked ~ .btnStyleElements .btnBgColorSetting{
    max-height: 100%;
}
#btnBg:checked ~ .btnStyleElements .btnBgColorSetting i{
    transform: rotate(180deg);
}

#btnFont:checked ~ .btnStyleElements .btnFontSetting{
    max-height: 100%;
}
#btnFont:checked ~ .btnStyleElements .btnFontSetting i{
    transform: rotate(180deg);
}

#btnFontSize:checked ~ .btnStyleElements .btnFontSizeSetting{
    max-height: 100%;
}
#btnFontSize:checked ~ .btnStyleElements .btnFontSizeSetting i{
    transform: rotate(180deg);
}

#btnFontWeight:checked ~ .btnStyleElements .btnFontWeight{
    max-height: 100%;
}
#btnFontWeight:checked ~ .btnStyleElements .btnFontWeight i{
    transform: rotate(180deg);
}

#btnHPadd:checked ~ .btnStyleElements .btnHPaddSetting{
    max-height: 100%;
}
#btnHPadd:checked ~ .btnStyleElements .btnHPaddSetting i{
    transform: rotate(180deg);
}

#btnVPadd:checked ~ .btnStyleElements .btnVPaddSetting{
    max-height: 100%;
}
#btnVPadd:checked ~ .btnStyleElements .btnVPaddSetting i{
    transform: rotate(180deg);
}

#btnBorder:checked ~ .btnStyleElements .btnBorderSetting{
    max-height: 100%;
}
#btnBorder:checked ~ .btnStyleElements .btnBorderSetting i{
    transform: rotate(180deg);
}

#btnBorderRadius:checked ~ .btnStyleElements .btnBorderRadiusSetting{
    max-height: 100%;
}
#btnBorderRadius:checked ~ .btnStyleElements .btnBorderRadiusSetting i{
    transform: rotate(180deg);
}

#btnText:checked ~ .btnStyleElements .btnTextSetting{
    max-height: 100%;
}
#btnText:checked ~ .btnStyleElements .btnTextSetting i{
    transform: rotate(180deg);
}

.activetionBTN{
    display: none;
}

.btnSetting{
    display: flex;
    justify-content: center;
}

/* input settings  */

.btnSetting p{
    padding: 0rem 1rem;
    font-size: 1rem;
}

/* border settings */

.borderAdditionalSettings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borderAdditionalSettings .activateBorder{
    width: 75.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.borderAdditionalSettings .activateBorder label{
    cursor: pointer;
}

