.buttonStyle{
    margin-top: 3rem;
}

.buttonStyle .btnStyleElements li,
.buttonHover .btnStyleElementsHover li{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: .3rem .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #fff;
    border-left: 5px solid #fff;
    cursor: pointer;
    overflow: hidden;
    max-height: 2rem;
    flex-direction: column;
    color: #fff;
}

.text{
    width: calc(300px - 3rem);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.btnBgColorSetting .text{
    display: flex;
    justify-content: space-between;
}

.btnSetting{
    padding: 2rem 0rem;
}

.btnStyleElements i,
.btnStyleElementsHover i{
    transition: .2s;
}

.activetionBTN{
    display: none;
}

.btnSetting{
    display: flex;
    justify-content: center;
}

/* input settings  */

.btnSetting p{
    padding: 0rem 1rem;
    font-size: 1rem;
}

.buttonTextSettings .btnSetting input{
    background-color: transparent;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid green;
    padding: .1rem;
}

/* border settings */

.borderAdditionalSettings .btnSetting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borderAdditionalSettings .activateBorder {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.borderAdditionalSettings .btnSetting .text{
    display: flex;
    padding: 2rem 0rem;
}

.borderAdditionalSettings .activateBorder label{
    cursor: pointer;
}

